<div class="container">
  <div class="row">
    <% @conflict_services.each do |conflict_service| %>
      <div class="cards">

        <%= render 'services/card', service: conflict_service %>

        <%= render 'services/card', service: conflict_service %>

      </div>

    <% end %>