<div class="container">
  <div class="row">
     <div class="cards">
      <% @money_services.each do |money__service| %>
        <%= link_to service_path(money__service) do %>
          <%= render 'services/card', service: money__service %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
