<div class="container">
  <div class="row">
    <% @theft_services.each do |theft_service| %>
      <div class="cards">

        <%= render 'services/card', service: theft_service %>

        <%= render 'services/card', service: theft_service %>

      </div>

    <% end %>