<div class="banner">
  <h1>SOS Magie </h1>
</div>
<div class = "container">
  <div class = "row">
    <div class = "col-6">
      <%  @services.each do |service| %>
      <div class = "card_tags">
        <%= service.name %>
        <span> <%= service.price %> € <span>
      </div>
    <% end %>
  </div>

</div>
