 <div class = container>
    <div class = card>
      <div class = "content text-center">

  <div class="card-product">
  <%= image_tag @service.image_url %>
  <div class="card-product-infos">
    <h3><%= @service.description %></h3>
    <p><%= @service.price %> €</p>
  </div>
</div>
