<div class="bodyshow">
  <div class="show">
    <div class="containershow">  
      <div class = card>
        <div class = image>
          <img href = "#" src =<%= @service.image_url %> width=200px height=200px>
        </div>
        <div class = content>
          <h3><%= @service.name %></h3>
          <p><%= @service.description %></p>
          <h3><%= @service.price %></h3>
        </div>
      </div>
    </div>
  </div>    
</div>  