
<div class="banner"></div>
<div class="container text-center">
   <div>
     <h1><%= @service.name %></h1>
     <h1><%= @service.description %></h1>
   </div>
   <div>
     <h1><%= @service.price %></h1>
   </div>

</div>
