#banner-new {
  background-image: url(https://cdn.vox-cdn.com/uploads/chorus_asset/file/2814868/Door_of_hope_or_despair_1390405970.1390510552.jpg) ;
  background-size: cover;
  opacity: 1;
  margin: auto;
  max-width: 1320px;
}

.box-shadow{
  background-color: transparent;
}

.body {
  text-emphasis-color: aqua;
}

#title-new-service {
  color: white;
}
