.box-shadow{
    width: max-content;
    height: auto; 
    background-color: rgb(255, 255, 255);
    padding: 1%;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #000000;
    margin-top: 2%;
    border: 2px solid black;
    
    

}

p{
    font-size: 24px; 
}

h1{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
}

